@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,600;1,300;1,400&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
  }
  .container{
    width: 100%;
    min-height: 100vh;
    background-image: url("DSC_0221.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
.row{
     width: 100%;
     padding: 0px 80px;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: relative;
    z-index: 1;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color: black; 
}
.navbar h1{
    color: white;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
}
.content{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content h1{
    font-size: 45px;
    color: #000000;
    font-weight: 400;
}
.content p{
    font-size: 16px;
    color: #fff;
    font-family: sans-serif;
}
.content a{
    text-decoration: none;
    margin-top: 20;
    font-size: 19px;
    display: inline-block;
    letter-spacing: 2px;
    padding: 12px 20px;
    background-color: black;
    border-radius: 5px;
    color: #fff;
}
.content a:hover{
    background-color: maroon;
}

@media only screen and (min-width:768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    
}